@charset "UTF-8";
@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body{margin:0; padding:0; font-family:poppins}
.header_top{ background:transparent;position:absolute !important; top:15px; left:0; z-index:99999;padding-left:40px !important;}
.header_top::after {content:" ";position:absolute;display:block;width:100%;height:100%;top:0;left:-26px;z-index:-1;transform:skew(144deg, 0deg);
background:rgba(255,255,255,0.8);}
.header_bottom{ background:transparent; position:absolute !important; bottom:15px; right:0; z-index:99;padding-right:40px !important;}
.header_bottom::after {content:" ";position:absolute;display:block;width:100%;height:100%;bottom:0;right:-26px;z-index:-1;transform:skew(144deg, 0deg);
background:rgba(255,255,255,0.8);}
.top_logo{ /*background:#C36;*/ position:absolute !important; top:0; right:0; height:300px; text-align:center; padding-top:20px}
.header_top p{font-size:12px;line-height:22px;padding:14px;margin:0;}
.header_top p span{ color:#ec2327; font-size:14px; font-weight:bold}
.header_bottom .nav > li > a {padding: 26px 15px 22px 15px !important; font-size:14px}
.navbar-toggle{background:#F00 !important}
.navbar-toggle .icon-bar{ background:#fff !important}
#amazingslider-wrapper-1{display:block;position:relative;max-width:100%;height:650px;margin:0 auto; overflow:hidden !important}
#amazingslider-wrapper-5{ margin-top:50px !important;}
.virtual_reality{ width:100%; height:auto;margin-top:60px;background: url("../images/virtual_reality_bg.jpg") center;background-attachment: fixed;
background-size: cover; padding:55px 0px}
.virtual_reality_left img{ width:100%;margin-bottom:50px}
.virtual_reality_left h2{font-size:45px;color:#fff;margin-bottom:40px}
.virtual_reality_left p,.service_itms_frnt p{color:#a8a8a8; line-height:27px; text-align:justify;font-size:14px}
.virtual_reality_left a,.service_itms_frnt a{background:#ec2327;color:#fff; float:right;font-size:14px; margin-top:40px; padding:10px 15px; text-decoration:none}
.virtual_reality_left a:hover,.service_itms_frnt a:hover{color:#000; text-decoration:none}
.virtual_reality_right img{width:100%; margin-bottom:10px; border:1px solid #CCC}
.service_itms_frnt{margin:15px 0px; padding:0}
.service_itms_frnt h3{font-size:30px; color:#000; padding:3px 0px}
.service_itms_frnt img{width:100%;margin-bottom: 10px;}
.service_itms_frnt a{margin-top:0px !important; padding:5px 10px 4px 10px !important; font-size:12px !important}
.nav > li > a:focus, .nav > li > a:hover, .nav > .active a{
	text-decoration: none;
	background-color: #DB150F;
	color: #fff;
}
/*Footer part CSS*/
footer {
	width: 100%;
	background: #323232;
	font-size:14px;
}
.tab_2 {
	/*padding: 0px 30px;*/
	padding-top: 20px;
}
.bw img {
	max-width: 100%;
}
.bw {
	text-align: center;
	padding-left: 0 !important;
}
.col-bord {
	/*padding: 16px 0px;*/
}
.con_head {
font-size: 19px;
font-weight: normal;
color: #fff;
 text-transform:uppercase;
 margin-bottom: 20px !important;
}
.addrs {
	margin: 0 auto;
	padding-left: 0 !important;
	color: #898989;
	font-size: 14px;
	font-weight:normal;
}
.addrs img{ margin-right:10px}
.addrs span{ margin-left:38px}
ul {
	margin: 0;
	padding: 0;
}
.gallery_main{text-align:center;padding:0 !important;background:#e9e9e9;padding-bottom:40px !important;}
.gallery_main h2{font-size:45px;color:#000;margin-top:30px;margin-bottom:40px;}

.gallery_inner{text-align:center;padding:0 !important;;padding-bottom:40px !important;}
.gallery_inner h2{font-size:45px;color:#DB150F;margin-top:50px;margin-bottom:10px;}
.gallery_inner p{ font-size:14px;text-align:center;margin-bottom:30px;color:#898989}

.contact_inner{padding:0 !important;padding-bottom:40px !important;}
.contact_inner h2{font-size:45px;color:#DB150F;margin-top:50px;margin-bottom:10px; text-align:center}
.contact_inner p{ font-size:14px;text-align:center;margin-bottom:30px;color:#898989}

.about_inner{padding:0 !important;padding-bottom:40px !important;}
.about_inner h2{font-size:45px;color:#DB150F;margin-top:50px;margin-bottom:10px; text-align:center}
.about_inner p{ font-size:14px;text-align:center;margin-bottom:10px;color:#898989; line-height:27px}

.about_inner_chooseus h2{font-size:20px; text-align:left}
.about_inner_chooseus p{text-align:justify;}
.about_inner_chooseus ul{ font-size:14px;color:#999;list-style:disc;padding-left:25px;line-height:30px;}
.video_inner{padding:0 !important;;padding-bottom:40px !important;}
.video_inner h2{font-size:45px;color:#DB150F;margin-top:50px;margin-bottom:10px; text-align:center}
.video_inner p{ font-size:14px;text-align:center;margin-bottom:10px;color:#898989; line-height:27px}
.video_items{ margin:20px 0px !important}

.virtual_reality_inner{width:100%; height:auto;margin-top:0px;background: url("../images/virtual_reality_inner_bg.jpg") center;background-attachment: fixed;
background-size: cover; padding:55px 0px}
.virtual_reality_inner p{ font-size:14px;text-align:justify;margin-bottom:10px;color:#b9b9b9; line-height:27px}
.virtual_reality_inner h2{font-size:45px;color:#fff;margin-top:50px;margin-bottom:10px; text-align:left}

.interactive_games{width:100%; height:auto;margin-top:0px;background: url("../images/interactive_games_bg.jpg") center;background-attachment: fixed;
background-size: cover; padding:55px 0px}


.game_inner h2{font-size:45px;color:#DB150F;margin-top:50px;margin-bottom:10px; text-align:center}
.game_inner p{ font-size:14px;text-align:center;margin-bottom:10px;color:#898989; line-height:27px}
.game_inner{padding:0 !important;padding-bottom:40px !important;}
/*.game_inner h2{font-size:45px;color:#fff;margin-top:50px;margin-bottom:10px; text-align:left}
.game_inner p{ font-size:14px;text-align:justify;margin-bottom:10px;color:#898989; line-height:27px}*/

.game_sub_items{height:auto; background:rgba(255,255,255,0.3); padding:5px !important}
.game_viedo_sub_items{height:auto; background:#b90803; padding:5px !important}
.game_sub_items_main, .game_video_sub_items_main{margin:10px 0px 10px 0px;}
.game_sub_items img{width:100%; height:120px}
.game_sub_items h3, .game_video_sub_items_main h3{width:100%; text-align:center; font-size:14px;margin:15px 0px 8px 0px;color:#fff}

.arcade_games{width:100%; height:auto;margin-top:0px;background: url("../images/arcade_games_bg.jpg") center;background-attachment: fixed;
background-size: cover; padding:55px 0px}
.arcade_games p{ font-size:14px;text-align:justify;margin-bottom:10px;color:#b9b9b9; line-height:27px}
.arcade_games h2{font-size:45px;color:#fff;margin-top:50px;margin-bottom:10px; text-align:left}
.room_based{width:100%; height:auto;margin-top:0px;background: url("../images/room_based_bg.jpg") center;background-attachment: fixed;
background-size: cover; padding:55px 0px}
.room_based p{ font-size:14px;text-align:justify;margin-bottom:10px;color:#b9b9b9; line-height:27px}
.room_based h2{font-size:45px;color:#fff;margin-top:50px;margin-bottom:10px; text-align:left}
/**contact page**/
.Enqry input[type=text],.Enqry select[type=text],.Enqry input[type=email],.Enqry input[type=password],.Enqry input[type=file],.Enqry input[type=number] {width:100%;height:40px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;margin-bottom:15px;font-size:14px;color:#000;outline:none}
.Enqry input[type=text]:focus,.Enqry select[type=text]:focus,.Enqry input[type=email]:focus,.Enqry input[type=password]:focus,.Enqry input[type=file]:focus{background:#fff; border:1px solid #DB150F}
.Enqry textarea{max-width:100%;min-width:100%;max-height: 170px;min-height: 170px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;margin-bottom:15px;font-size:14px;color:#000;padding-top:10px;outline:none; resize:none}

.Enqry textarea:focus{background:#fff; border:1px solid #DB150F}
.refrsh{width:50px;height:50px;float:left;margin:0px 15px 0px 15px;transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.refrsh:hover{transform:rotate(360deg);transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.more1{width:130px;height:36px; border-radius:6px;background:#fff;text-align:center;line-height:36px;text-transform:uppercase;float:right; margin-top:10px;text-decoration:none;color:#db150f;padding:0; border:1px solid #005c6d;transition-duration:1s; border: 1px solid #ccc; outline:none;font-size: 14px;}
.more1:hover{color:#fff;background:#db150f;border: 1px solid #db150f; text-decoration:none; transition-duration:1s}
.cont_sbmt{width:140px !important}
.second_section{margin:50px auto}
/*Footer Navigation part CSS*/
.foot_nav_scnd{ margin-top:37px ;}
.foot_nav {
	color: #efefef;
}
.foot_nav > ul > li {
	list-style: none;
}
.foot_nav > ul > li > a {
	color: #898989;
	line-height: 28px;
}
.foot_nav > ul > li > a:hover {
	text-decoration: none;
	color: #FFF;
}
.footer_bottom{ background:#0c0c0c}
.foot-row {
	padding:10px 0px;
	
}
.foot_bar {
	line-height: 50px;
	color: #efefef;
	text-align: center;
}
.copy {
	/*float: left;*/
}
.powd {
	float: right;
}
.left_logo{    
	position:absolute !important;
    bottom: 0;
    left: 0;
/*	z-index: 999999;*/
}
#inner_page_header{
    position: relative;
    overflow: hidden !important;
	height:auto;
}
.inner_banner img{ width:100%; height:300px}



@media screen and (max-width:991px){
	.top_logo {padding-top: 105px; padding-right:20px}
	.left_logo{    
	position:absolute !important;
    top: 0;
    left: 0;
/*	z-index: 999999;*/
}
}
@media screen and (max-width:991px){
.header_bottom::after {display:block;width:80%;height:100%;bottom:0;right:10px;z-index:-1;transform:skew(0deg, 0deg);background:rgba(255,255,255,0.8);}
.header_top::after {display:block;width:80%;height:100%;top:0;left:10px;z-index:-1;transform:skew(0deg, 0deg);background:rgba(255,255,255,0.8);}
}
@media screen and (max-width:767px){
	.second_section{ margin:0px auto !important}
	.amazingslider-nav-5{ display:none !important; }
	#amazingslider-wrapper-5{ padding-left:0px !important !important;height:auto !important}
	#amazingslider-5{ width:100% !important; height:auto !important}
	#amazingslider-wrapper-1{overflow:visible !important;height:500px !important;}
	.header_top {
    background: #fff;
    position: relative !important;
    z-index: 99999;
    padding-left: 40px !important;}
	.header_bottom {
    background: transparent;
    position: relative !important;
    top: -123px;}
	.header_bottom::after { background: transparent !important;}
	.header_bottom .nav > li > a {
    padding: 12px 15px 8px 15px !important;}
	.header_bottom .nav > li { background:#F0EFEF}
	.game_sub_items img {
    width: 100%;
    height: auto !important;
}
}
@media screen and (max-width:560px){
	#amazingslider-wrapper-1{height:400px !important;}
	}
@media screen and (max-width:460px){
	#amazingslider-wrapper-1{height:350px !important;}
	.top_logo {padding-top:60px; padding-right:20px}
}
@media screen and (max-width:415px){
.header_bottom {padding-right: 15px !important;}
.header_top {padding-left: 0px !important;}
}
@media screen and (max-width:400px){
.header_bottom {top:-201px !important}
.support_small{ width:100% !important}
}
a.video_bg {
	background: rgba(255,255,255,0.3);
	padding: 5px;
	color: #FFF;
	display: block;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	margin: 5px 0px;
}
a.video_bg img {
	width: 100%;
}
a.video_bg h3 {
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin: 15px 0px 8px 0px;
	color: #fff;
}
a.video_bg:hover {
	text-decoration: none;
	opacity: 0.75;
}
.vid_more_lnk {
	text-align: center;
	margin: 20px 0px 30px 0px;
}
.vid_more_lnk a {
	display: inline-block;
	padding: 8px 20px;
	border: 2px solid rgba(255, 255, 255, 0.75);
	color: rgba(255, 255, 255, 0.75);
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.vid_more_lnk a:hover {
	border-color: rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}
.video_img_wrap {
	position: relative;
}
.video_img_wrap span {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.1);
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.video_img_wrap span img {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
}
a.video_bg:hover .video_img_wrap span {
	background-color: rgba(0, 0, 0, 0.7);
}
.game_inner_box {
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 15px 0px;
}
.game_inner_box img {
	max-width: 100%;
}
.game_inner_box h4 {
	text-align: center;
	color: #FFF;
}
.game_inner_head {
	font-size: 45px;
	color: #fff;
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: left;
}
.game_inner_info {
	color: #b9b9b9;
}
.edutainment_games {
	width: 100%;
	height: auto;
	margin-top: 0px;
	background: url("../images/virtual_reality_inner_bg.jpg") center;
	background-attachment: fixed;
	background-size: cover;
	padding: 55px 0px;
}
@media only screen and (min-width: 1200px) {
	.video_left img {
		height: 463px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.video_left img {
		height: 383px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.video_left img {
		height: 295px;
	}
}
